/*
 *common css for whole project
 *Made by hfut online
 *@author yu
 */
/**通用设置*/
/*@font-face{
	font-family:FZLTCXHJW;
	src:url('./FZLTCXHJW.TTF');
}
body,h1,h2,h3,h4,h5,h6,span,div,section,html,a,nav,aside,header,footer,ul,li,label{font-family:FZLTCXHJW;}*/

/*分类栏目页和内容页 头部公用css部分
*这个页面如果用Ajax实现，则头部只需要一个。
*/

ul li{list-style: none;}
.header{width:100%;height:35%;background-image:url(../images/nav_sixiang.png);background-size:cover;}
.back{width:1.8rem;height:3.6rem;text-align:center;position:fixed;z-index:100;right:0;top:2.86rem;}
.back_button{float:right;width:1.8rem;height:3.6rem;text-align: center;cursor:pointer;border-radius:1.8rem 0 0 1.8rem;-webkit-border-radius:1.8rem  0 0 1.8rem;-moz-border-radius:1.8rem  0 0 1.8rem;-o-border-radius:1.8rem  0 0 1.8rem;background-color:#ff5669;}
.back_button span{float:left; padding-left: 0.35rem;  padding-top: 0.3rem;}
.mian_content{width:100%;position:absolute;left:0;top:-2.6rem;}
.head_nav{width:100%;height:2.6rem;position: relative;}
.nav{height:100%;float:left;text-align:center;font-size:1.6rem;color:white;}
.nav_opacity{position:absolute;left:0;top:0;width:100%;opacity: 0.502;background-color:#000;}
.nav_mark{position:absolute;top:0;}


.nav_and_article{width:100%;height:65%;position:relative;}
.nav_bg_move{position:absolute;left:0;top:0;}

.list_body{width:100%;height:100%;position:relative;}
#list_1{position:absolute;left:0;top:0;}
#list_2,#list_3,#list_4,#list_5,#list_6,#list_7,#list_8,#list_9,#list_10,#list_11{position:absolute;left:100%;top:0;}
